<!DOCTYPE html>
<html>
<head>
  <base target="_blank">
  <title>GitHub Activity RSS Feed</title>
  <link rel="icon" href="/img/icon32.png">
  <meta name="robots" content="noindex">
  <meta name="referrer" content="never">
</head>
<body>
  <p>Hello <%= @username %>.</p>

  <p>You can find your private feed here: <a href="<%= @url %>"><%= @url %></a></p>

  <p>Keep your url private to prevent leaking your secret gists to other people. The token in the url is encrypted and can only be used by this website.</p>

  <p>You can revoke your token on GitHub: <a href="https://github.com/settings/applications">https://github.com/settings/applications</a></p>

  <p>I provide this service free of charge. If you find it useful, please make a donation. I greatly appreciate any support!</p>

  <form method="post" action="https://www.paypal.com/cgi-bin/webscr">
    <input type="hidden" name="cmd" value="_xclick">
    <input type="hidden" name="business" value="KYMVEK692RF5Q">
    <input type="hidden" name="item_name" value="GitHub RSS">
    <input type="hidden" name="item_number" value="GitHub RSS">
    <input type="hidden" name="no_shipping" value="1">
    <input type="hidden" name="return" value="https://stefansundin.github.io/thx">
    <input type="hidden" name="cbt" value="Learn why you just became awesome">
    <input type="hidden" name="currency_code" value="USD">
    $<input type="text" name="amount" value="5.00" placeholder="Amount">
    <input type="submit" value="Donate with PayPal">
  </form>

</body>
</html>
