<%- content_type :html -%>
<!doctype html>
<html lang="en">
<head>
  <title>GitHub Activity RSS Feed</title>

  <meta charset="utf-8">
  <meta name="author" content="Stefan Sundin">
  <meta name="description" content="GitHub Activity RSS Feed">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" href="/img/icon32.png">
  <link rel="license" href="https://www.gnu.org/licenses/agpl-3.0.html" title="GNU AGPL 3.0 or later">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <link rel="alternate" type="application/atom+xml" href="https://github.com/stefansundin/github-activity/releases.atom" title="Release feed">
  <link rel="search" type="application/opensearchdescription+xml" href="/opensearch" title="GitHub Activity RSS Feed">
  <style>
body {
  padding: 0 15px;
  margin-bottom: 100px;
}
a {
  cursor: pointer;
  color: #007bff !important;
}
.container {
  padding: 0;
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

header {
  margin-top: 25px;
  text-align: center;
}
header h1 {
  font-size: 4em;
  font-weight: 700;
  margin-bottom: 0.5em;
}
header h2 {
  border: none;
  margin-top: 1em;
  font-size: 1.5em;
  font-weight: 400;
}
h2 {
  border-bottom: 1px solid #ccc;
  margin-top: 2em;
  padding-bottom: 0.125em;
}

form[action="/go"] {
  margin: 2em auto 15px;
  text-align: center;
  max-width: 350px;
}
form[action="/go"] input.btn {
  min-width: 120px;
}
.form-inline .input-group {
  margin-right: 10px;
}

.expander {
  display: none;
  margin-top: 15px;
}
.share {
  text-align: center;
  margin: 80px 0 45px;
}
  </style>
</head>
<body ga="<%= ENV["GOOGLE_ANALYTICS_ID"] %>">
  <header>
    <img src="/img/icon128.png" width="128" height="128" alt="Icon" itemprop="image">
    <h1 itemprop="name">GitHub Activity RSS Feed</h1>
    <h2 itemprop="description">Subscribe to your gist comments</h2>
  </header>

  <form class="input-group" method="get" action="/go">
    <input class="form-control" type="search" name="q" placeholder="Your GitHub username" pattern="[a-zA-Z0-9\-]+" title="Input a GitHub username, not a url.">
    <div class="input-group-append">
      <input class="btn btn-primary" type="submit" value="Get RSS Feed">
    </div>
  </form>
  <script>
  document.querySelector('form[action="/go"]').addEventListener("submit", function(e) {
    this.getElementsByTagName("input")[1].value = "Working...";
  });
  </script>

  <%- if ENV["GITHUB_CLIENT_ID"] && ENV["GITHUB_CLIENT_SECRET"] && ENV["ENCRYPTION_KEY"] -%>
  <div class="text-center">
    For comments on secret gists, you have to <a href="/auth">authenticate</a>.
  </div>
  <script>
  document.querySelector('a[href="/auth"]').addEventListener("click", function(e) {
    alert("Note: GitHub does not have a separate scope for read-only access to gists. In order to grant access to private gists, you must also grant write access.\n\nThis website will never write to your gists!");
  });
  </script>
  <%- end -%>

  <div class="container">
    <h2>About</h2>

    <p>GitHub does not notify you when you receive comments on your gists. That's why I created this website, which gives you a convenient RSS feed that you can subscribe to.</p>

    <p>For now this feed only gives you comments on your gists. Later, I might implement notifications when people commit to forks from your stuff, etc. Post ideas as issues <a href="https://github.com/stefansundin/github-activity">on GitHub</a>.</p>


    <h2>Donate</h2>

    <p>I provide this service free of charge. If you find it useful, please make a donation. I greatly appreciate any support!</p>

    <form method="post" action="https://www.paypal.com/cgi-bin/webscr" track="donate" target="_blank" class="form-inline">
      <input type="hidden" name="cmd" value="_xclick">
      <input type="hidden" name="business" value="KYMVEK692RF5Q">
      <input type="hidden" name="item_name" value="GitHub RSS">
      <input type="hidden" name="item_number" value="GitHub RSS">
      <input type="hidden" name="no_shipping" value="1">
      <input type="hidden" name="return" value="https://stefansundin.github.io/thx">
      <input type="hidden" name="cbt" value="Learn why you just became awesome">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">$</span>
          </div>
          <input type="hidden" name="currency_code" value="USD">
          <input class="form-control" type="text" name="amount" value="5.00" pattern="\d+\.?\d*" placeholder="Amount">
        </div>
      </div>
      <input class="btn btn-success" type="submit" value="Donate with PayPal">
    </form>

    <p><small><a class="expander" expand="donation-options">Show other donation options: Bitcoin, Square Cash.</a></small></p>
    <div id="donation-options">
      <p>Other donation options:</p>
      <ul>
        <li>Bitcoin: <tt>1EhDUbc5MjC6JavC6idKiTCxnqSxY2sbTX</tt> (<a target="_blank" href="https://stefansundin.github.io/img/btc-qr.png">QR code</a>)</li>
        <li>Square Cash: <a target="_blank" href="https://cash.me/$StefanSundin">$StefanSundin</a></li>
      </ul>
      <p>Contact me at <a fubar>stefaNStefansundinCom</a> if none of the above work.</p>
    </div>


    <h2>Credits</h2>

    <p>Made by <a href="https://stefansundin.github.io/">Stefan Sundin</a>.</p>

    <div class="share">
      <iframe src="https://ghbtns.com/github-btn.html?user=stefansundin&amp;repo=github-activity&amp;type=watch&amp;count=true&amp;size=large" allowtransparency="true" frameborder="0" scrolling="0" width="155" height="30"></iframe>
    </div>
  </div>

  <%- if request.host == "gh-rss.herokuapp.com" -%>
  <script src="https://stefansundin.github.io/js/ga.js"></script>
  <%- end -%>
  <script src="https://stefansundin.github.io/js/fubar.js"></script>
  <script src="https://stefansundin.github.io/js/main.js"></script>
</body>
</html>
