<!DOCTYPE html>
<html lang="en">
<head>
  <base target="_blank">
  <title>GitHub Activity RSS Feed</title>

  <meta charset="utf-8">
  <meta name="author" content="Stefan Sundin">
  <meta name="description" content="GitHub Activity RSS Feed">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <link rel="icon" href="https://stefansundin.github.io/github-activity/img/icon32.png">
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="https://stefansundin.github.io/css/main.css">
  <link rel="alternate" href="https://github.com/stefansundin/github-activity/releases.atom" title="Release feed" />
  <style type="text/css">
  form {
    display: inline-block;
    width: 400px;
  }
  </style>
</head>
<body>
  <header>
    <img src="https://stefansundin.github.io/github-activity/img/icon128.png" width="128" height="128" alt="Icon" itemprop="image">
    <hgroup>
      <h1 itemprop="name">GitHub Activity RSS Feed</h1>
      <h2 itemprop="description">Subscribe to your gist comments</h2>
    </hgroup>
  </header>

  <div class="buttons">
    <div class="form-group">
      <form class="form-horizontal" method="get" action="/go" target="_self">
        <div class="col-sm-8"><input class="form-control" type="search" name="username" placeholder="Your GitHub username" pattern="[a-zA-Z0-9\-]+" title="Input a GitHub username, not a url."></div>
        <div class="col-sm-4"><input class="btn btn-primary" type="submit" value="Get RSS Feed"></div>
      </form>
      <script>
      var form = document.getElementsByTagName("form")[0];
      form.addEventListener("submit", function(e) {
        var btn = form.getElementsByTagName("input")[1];
        btn.value = "Working";
        // btn.disabled = true;
      });
      </script>
    </div>
  </div>

  <div class="container">
    <h2>About</h2>

    <p>GitHub does not notify you when you receive comments on your gists. That's why I created this website, which gives you a convenient RSS feed you can subscribe to.</p>

    <p>For now this feed only gives you comments on your gists. Later I might implement notifications when people commit to forks from your stuff, etc. Post ideas as issues <a href="https://github.com/stefansundin/github-activity">on GitHub</a>.</p>


    <h2>Credits</h2>

    <p>This page was created by Stefan Sundin.</p>

    <p>You can <a href="https://stefansundin.github.io/">browse my other projects</a>, or <a href="https://stefansundin.com/">visit my personal website</a>.</p>

    <p>Redis hosting kindly provided by <a href="https://redislabs.com/">Redis Cloud</a>.</p>
    <p><a href="https://redislabs.com/"><img src="https://stefansundin.github.io/github-activity/img/rediscloud.png"></a></p>


    <h2>Donate</h2>

    <p>I provide this service free of charge. If you would like to thank me, please send me a donation.</p>

    <form class="form-horizontal" method="post" action="https://www.paypal.com/cgi-bin/webscr" track="donate">
      <input type="hidden" name="cmd" value="_xclick">
      <input type="hidden" name="business" value="KYMVEK692RF5Q">
      <input type="hidden" name="item_number" value="GitHub RSS">
      <input type="hidden" name="return" value="https://stefansundin.github.io/thx">
      <input type="hidden" name="cbt" value="Learn why you just became awesome">
      <div class="form-group">
        <div class="col-sm-4"><input class="form-control" type="text" name="amount" id="amount" value="$5.00" placeholder="Amount"></div>
        <div class="col-sm-5"><input class="btn btn-success" type="submit" value="Donate with PayPal"></div>
      </div>
    </form>

    <p>Or you can send Bitcoin to: <tt>1EhDUbc5MjC6JavC6idKiTCxnqSxY2sbTX</tt> (<a href="https://stefansundin.github.io/img/btc-qr.png">QR code</a>)</p>


    <h2>Danger Zone</h2>

    <p>
      Remaining GitHub ratelimit: <%= "%s / %s" % [@ratelimit[:remaining] || @ratelimit[:limit] || "unknown", @ratelimit[:limit] || "unknown"] %>.
      <%= "Resets in %d min." % ((@ratelimit[:reset]-Time.now)/60) if @ratelimit[:reset] %>
    </p>

    <% unless ENV["ACCESS_TOKEN"] or $redis.exists("access_token") %>
    <p>Not authenticated!</p>

    <% if ENV["GITHUB_CLIENT_ID"] %>
    <p><a class="btn btn-success" href="/auth"><span class="glyphicon glyphicon-user"></span> Authenticate</a></p>
    <% else %>
    <p>Please configure the GitHub ENV variables to authenticate (<a href="https://github.com/stefansundin/github-activity/blob/master/README.md">instructions</a>).</p>
    <% end %>

    <p>Authenticating gives you a lot higher ratelimit.</p>
    <% end %>

    <p><a class="btn btn-danger" href="/flush"><span class="glyphicon glyphicon-trash"></span> Flush cache</a></p>

    <p>This button clears the redis cache. Only use in emergencies.</p>
  </div>

  <% if request.host == "gh-rss.herokuapp.com" %>
  <script src="https://stefansundin.github.io/js/ga.js"></script>
  <% end %>
</body>
</html>
